#nameEntry{
    position: relative;
    top: 50px;
    left: 50px;
}

#emailEntry{
    position: relative;
    top: 50px;
    left: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.textfield{
    margin: 10px;
}

#submit{
    position: relative;
    top: 150px;
    left: 270px;
}

#login{
    position: relative;
    top: 178px;
    left: 277px;

}

#homePaper{
    position: absolute;
    left: 250px;
}