#nameEntry{
    position: relative;
    top: 50px;
    left: 50px;
}

#emailEntry{
    position: relative;
    top: 50px;
    left: 50px;
}

.textfield{
    margin: 10px;
}

.button{
    position: relative;
    top: 150px;
    left: 250px;
}